 apiVersion: apps/v1
 kind: Deployment
 metadata:
   name: {{ include "hms.fullname" . }}-frontend
   labels:
     app.kubernetes.io/name: {{ include "hms.name" . }}
     app.kubernetes.io/instance: {{ .Release.Name }}
     app.kubernetes.io/component: frontend
 spec:
   replicas: {{ .Values.replicaCount.frontend }}
   selector:
     matchLabels:
       app.kubernetes.io/name: {{ include "hms.name" . }}
       app.kubernetes.io/component: frontend
       app.kubernetes.io/instance: {{ .Release.Name }}
   template:
     metadata:
       labels:
         app.kubernetes.io/name: {{ include "hms.name" . }}
         app.kubernetes.io/component: frontend
         app.kubernetes.io/instance: {{ .Release.Name }}
     spec:
       containers:
         - name: frontend
           image: "{{ .Values.image.frontend.repository }}:{{ .Values.image.frontend.tag }}"
           imagePullPolicy: {{ .Values.image.frontend.pullPolicy }}
           ports:
             - containerPort: 80
               name: http
           env:
             {{- range $k, $v := .Values.env.frontend }}
             - name: {{ $k }}
               value: "{{ $v }}"
             {{- end }}
           resources:
             {{- toYaml .Values.resources.frontend | nindent 12 }}

