 apiVersion: apps/v1
 kind: Deployment
 metadata:
   name: {{ include "hms.fullname" . }}-backend
   labels:
     app.kubernetes.io/name: {{ include "hms.name" . }}
     app.kubernetes.io/instance: {{ .Release.Name }}
     app.kubernetes.io/component: backend
 spec:
   replicas: {{ .Values.replicaCount.backend }}
   selector:
     matchLabels:
       app.kubernetes.io/name: {{ include "hms.name" . }}
       app.kubernetes.io/component: backend
       app.kubernetes.io/instance: {{ .Release.Name }}
   template:
     metadata:
       labels:
         app.kubernetes.io/name: {{ include "hms.name" . }}
         app.kubernetes.io/component: backend
         app.kubernetes.io/instance: {{ .Release.Name }}
     spec:
       containers:
         - name: backend
           image: "{{ .Values.image.backend.repository }}:{{ .Values.image.backend.tag }}"
           imagePullPolicy: {{ .Values.image.backend.pullPolicy }}
           ports:
             - containerPort: 8080
               name: http
           env:
             {{- range $k, $v := .Values.env.backend }}
             - name: {{ $k }}
               value: "{{ $v }}"
             {{- end }}
           resources:
             {{- toYaml .Values.resources.backend | nindent 12 }}

