 apiVersion: v1
 kind: Service
 metadata:
   name: {{ include "hms.fullname" . }}-frontend
   labels:
     app.kubernetes.io/name: {{ include "hms.name" . }}
     app.kubernetes.io/instance: {{ .Release.Name }}
     app.kubernetes.io/component: frontend
 spec:
   type: {{ .Values.service.frontend.type }}
   selector:
     app.kubernetes.io/name: {{ include "hms.name" . }}
     app.kubernetes.io/component: frontend
     app.kubernetes.io/instance: {{ .Release.Name }}
   ports:
     - name: http
       port: {{ .Values.service.frontend.port }}
       targetPort: http

